* {
    margin: 0;
    padding: 0;
    outline : 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Desigining the weather card */
.container {
    width: 600px;
    border: 2px solid #1d1d1d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px;
}

/* Designing the input box and button */
.searchData {
    border: 1px solid #1d1d1d;
}

.searchData input {
    border: transparent;
    padding: 5px;
}

.searchData .btn {
    border: transparent;
    padding: 5px 15px;
}
.searchData .btn:hover {
    color: #333945;
    cursor: pointer;
    background-color: #8395A7;
}

/* Displaying the City Weather Data */
.CityWeatherData {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.Details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

